<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - congress_sucks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/congress_sucks.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    <div class="layoutContainer" style="padding-right:25px">
        <nav>
            <div style="float:left">
                <ul class="main-nav">
                    <li><a href="http://congresssucks.us">Home</a></li>
                    <li><a href="http://constitutionus.com/" target="_blank">The Constitution</a></li>
                    <li><a href="#latest">Latest Articles</a></li>
                    <li><a href="#">Article Categories</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
            </div>
        </nav>
        <partial name="_LoginPartial" />
    </div>
    @if (ViewBag.View == null)
    {
        <div class="hero-text-box" style=" overflow:auto">
            <h1 style="font-family: 'Caveat', cursive; font-size:100px; color:white; text-shadow:-3px -3px #000">Making the truth of the <br/>Constitution plain</h1>
        </div>
    }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Congresssucks.com - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>