<link rel="stylesheet" href="~/congress_sucks.styles.css" asp-append-version="true" />
    
<footer class="border-top footer text-muted">

    <div class="container">
        <p>
            Copyright &copy; 2019 by CongressSucks.us. &nbsp;&nbsp;&nbsp;  All rights reserved
        </p>
    </div>

</footer>
